@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";

}
<h2>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToUpper()</h2>
<a class="btn btn-success" href="@Url.Action("Dodaj","Proizvodi")">Dodaj</a>
<table class="table table-striped" id="tablica">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Kratak opis</th>
            <th>Cijena</th>
            <th>Datum Dodavanja proizvoda</th>
            <th>Količina</th>
            <th>Količina koja je prodana</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in ViewBag.ListaProizvoda)
        {
            <tr>
                <td>@item.Ime</td>
                <td>@item.KratakOpis</td>
                <td>@item.Cijena</td>
                <td>@item.DatumDodavanje</td>
                <td>@item.Kolicina</td>
                <td>@item.ProdanaKolicina</td>
                @*@{
                    if (item.Kategorija != null)
                    {
                        <td>@item.Kategorija.Naziv</td>
                    }
                    else
                    {
                        <td>Nema kategorije</td>
                    }
                }*@
                <td><a href="@Url.Action("Edit","Proizvodi",new {id=item.ID })"><i class="fa fa-2x fa-edit" style="color:blue"></i></a></td>
                <td><a href="@Url.Action("Delete","Proizvodi",new {id=item.ID })"> <i class="fa fa-2x fa-remove" style="color:red"></i></a></td>


            </tr>

        }

    </tbody>
    <tfoot>
        <tr>
            <th>
                Ime
            </th>
        <th>
            Kratak opis
        </th>
        <th>
            Cijena
        </th>
        <th>
            Datum dodavanja
        </th>
      
            <th></th>
            <th></th>
        </tr>

    </tfoot>
</table>

<script>

</script>

